@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  /* Colors */
  --cl-blue-900: #101828;
  --cl-gray-500: #475467;
  --cl-gray-400: #6c717b;
  --cl-gray-100: #dadde1;
  --cl-gray-50: #f2f4f7;
  --cl-gray-20: #f7f7f7;
  --cl-red-300: #e44848;
  --cl-red-400: #d84343;
  --cl-yellow-200: #ffc531;
  --cl-white: #ffffff;

  /* Font sizes */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-48: 48px;

  /* Font weights */
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;

  /* Line heights */
  --lh-07: 0.7;
  --lh-2: 1.2;
  --lh-3: 1.3;
  --lh-5: 1.5;

  /* Radiuses */
  --radius-xs: 10px;
  --radius-sm: 12px;
  --radius-md: 20px;
  --radius-lg: 100px;
  --radius-xlg: 200px;
  --radius-circle: 50%;

  /* Transitions */
  --trns-ease: 0.3s ease;

  /* Layout */
  --header-height-sm: 66px;
  --header-height-lg: 72px;
}

body {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: var(--lh-5);
  background-color: var(--cl-white);
  color: var(--cl-blue-900);
  max-width: 1440px;
  margin: 0 auto;
}
