* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
  font: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  border: none;
}
