.wrapper {
  padding: 44px 52px;
  background-color: var(--cl-gray-20);
  border-radius: var(--radius-xs);
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.detailsTitle {
  position: relative;
  margin-top: 100px;
  margin-bottom: 48px;
}

.detailsTitle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 1px;
  background-color: var(--cl-gray-100);
}

.detail {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  line-height: var(--lh-5);
}

.detail:not(:first-child) {
  margin-top: 16px;
}
