.filter {
  color: var(--cl-gray-400);
  font-weight: var(--lw-400);
  line-height: var(--lh-5);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.icon {
  position: absolute;
  left: 20px;
  color: var(--cl-gray-400);
  transition: var(--trns-ease);
}

.input {
  width: 100%;
  padding: 18px 18px 18px 48px;
  border-radius: var(--radius-sm);
  font-size: var(--fs-16);
  line-height: var(--lh-5);
  background-color: var(--cl-gray-20);
  transition: var(--trns-ease);
}

.input:focus {
  color: var(--cl-blue);
}

.inputWrapper:has(.input:focus) .icon {
  color: var(--cl-blue-900);
}

.input::placeholder {
  color: var(--cl-gray-400);
}
